#mainFooter {
    color: #fff;
    background-image: linear-gradient(rgba(9, 5, 0, 2), rgba(2, 5, 32, 1));
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

#mainFooter h4 {
    font-size: 1.3rem;
}

#mainFooter h3 {
    font-size: 1.5rem;
}

#mainFooter p {
    font-size: 1rem;
}