#project {
    margin: 2rem 0;
}

.projectTitle {
    text-align: center;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.9rem;
}

.card {
    margin-top: 6.3rem;
    width: 20rem;
    height: 9.3rem;
    padding: 1.2rem;
    position: relative;
    border-radius: 12px;
    transition: 1000ms ease;
    box-shadow: 0 0 1rem;
}

.cardImg {
    position: relative;
    height: 100%;
    width: 100%;
}

.cardImg img {
    position: absolute;
    width: 100%;
    height: 9.3rem;
    transform: translateY(-4.3rem);
    border-radius: 0.7rem;
    box-shadow: 0 0 1rem;
    z-index: 1;
}

.cardDescription {
    transform: translateY(-12.5rem);
    opacity: 0;
}

.cardDescription h3 {
    font-weight: bold;
    color: #023d70;
    margin-bottom: 0.6rem;
}

.cardDescription p {
    font-weight: bold;
    margin-bottom: 0.6rem;
}

.links {
    margin-top: 1rem;
}

.links a {
    padding: 0.5rem 1.2rem;
    color: #fff;
    background-color: #023d70;
    margin: 1rem 0.4rem 1rem 0;
}

.card:hover {
    height: 15.6rem;
}

.card:first-child:hover {
    height: 17.8rem;
}

.card:last-child:hover {
    height: 13.7rem;
}


.card:hover .cardDescription {
    transform: translateY(-9.3rem);
    opacity: 1;
}

.card:first-child:hover .cardDescription {
    transform: translateY(-11.8rem);
    opacity: 1;
}

.card:last-child:hover .cardDescription {
    transform: translateY(-7.5rem);
    opacity: 1;
}


@media screen and (max-width:1441px) {
    .card {
        width: 19rem;
    }
}

@media screen and (max-width:1300px) {
    .card {
        width: 22rem;
    }
}

@media screen and (max-width:1024px) {
    .card {
        width: 20rem;
    }
}

@media screen and (max-width:835px) {
    .card {
        width: 18rem;
    }
}

@media screen and (max-width:769px) {
    .card {
        width: 16rem;
    }

    .card:first-child:hover {
        height: 18.8rem;
    }

    .card:first-child:hover .cardDescription {
        transform: translateY(-12.8rem);
    }
}